.root {
  position: relative;
  left: -120px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 400px;
  padding: 12px 22px;
  padding-left: 42px;
  font-size: 16px;
  opacity: 0.3;
  transition: all 0.15s ease-in-out;


  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.icon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 14px;
  top: 12px;
  opacity: 0.3;
}

.clearIcon {
  width: 28px;
  height: 28px;
  right: 15px;
  top: 10px;
  opacity: 0.3;
  position: absolute;
  
  &:hover {
  cursor: pointer;
    opacity: 0.8;
  }
}
